node_modules
dist
.idea
./dist.zip
Backups
Cache
CachedConfigurations
CachedData
CachedExtensions
CachedExtensionVSIXs
Code Cache
Crash Reports
databases
GPUCache
Local Storage
Service Worker
User
code.lock
Cookies
Cookies-journal
languagepacks.json
machineid
Network Persistent State
QuotaManager
QuotaManager-journal
storage.json
TransportSecurity